*{
     padding:0;
     margin: 0;
     box-sizing: border-box;
}
.main{
     margin-top: 30px;
}

.container{
     margin: 0 auto;
     width:600px;
     background-color: red;
}
.game_box{
     padding: 20px;
     text-align: center;
     margin: 0 auto;
     width: 300px;
     background-color:azure;
}

.first_player{
    color: rgb(191, 0, 255);
    padding: 15px;
    /* padding-bottom: 10px; */
}

.game_img{
     margin: 20px auto 0;
     width: 200px;
     height: 200px;
     overflow: hidden;
     object-fit: cover;
     border-radius: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.img_2{
     display: none;
}

.game_heading{
     text-align: center;
}

.game_img img{
     width: 100%;
     height: 100%;
     object-fit: cover;

}

.player_one_box{
     margin-top: 20px;
}

.player_two_box{
     margin-top: 20px;
     display: none;
}

.player_one_input{
     width: 100%;
     padding: 10px 30px;
     border-radius: 10px;
     display: block;
}

.player_one_btn{
     margin-top: 10px;
     padding: 6px 10px;
     font-size: 20px;
     border-radius: 5px;
     /* display: none; */
}

.player_two_input{
     padding: 10px 30px;
     border-radius: 10px;
     /* display: none; */
}

.player_two_btn{
     margin-top: 10px;
     padding: 6px 10px;
     font-size: 20px;
     border-radius: 5px;
     /* display: block; */
}
.restart{
     margin-top: 10px;
     padding: 6px 10px;
     font-size: 20px;
     border-radius: 5px;
     /* display: none; */
}
.player_one_error{
     text-align: left;
     color: red;
     font-size: 14px;
     padding: 8px 0;
     font-weight: 600;
}